{% extends "layout.html" %}
{% block body %}
{% if item %}
<h1>Rediger artikkel</h1>
<form method="post">
  <div class="form-group">
    <label for="title">Tittel:</label>
    <input type="text" name="title" class="form-control input-lg" required="true" value="{{ item.title }}" />
  </div>
  <div class="form-group">
    <label for="description">Beskrivelse/ingress:</label>
    <textarea name="description" class="form-control" required="true">{{ item.description }}</textarea>
  </div>
  <div class="form-group">
    <label for="body">Innhold:</label>
    <textarea name="body" class="form-control" required="true">{{ item.body }}</textarea>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="author">Forfatter:</label>
        <input type="text" name="author" class="form-control" required="true" value="{{ item.author }}" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="unit">Enhet:</label>
        <select name="unit" class="form-control">
          {% for unit in units %}
            <option value="{{unit.urlsafe()}}"{% if unit == item.unit %} selected{% endif %}>
              {% if unit.parent() %}
                {% for item in unit.pairs()[1:] %}
                  {% if item != unit.pairs()[1:][0] %} / {% endif %}
                  {{ item[1].capitalize() }}
                {% endfor %}
              {% else %}
                -- Alle --
              {% endif %}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col-md-4 text-right">
      <div class="form-group">
        <button class="btn btn-primary">Lagre endringer</button>
        <button class="btn btn-danger" name="commit" value="delete" onclick="return confirm('Sikker på at du vil slette?')">Slett</button>
      </div>
    </div>
  </div>
</form>
<hr>
<a href="./">Tilbake til oversikten</a>
{% else %}
<h1>Rediger artikler</h1>
<table class="table table-striped table-condensed table-hover">
  <thead>
    <tr>
      <th>Enhet</th>
      <th>Tittel</th>
      <th>Opprettet</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ item.unit.string_id().capitalize() }}</td>
      <td>
        <strong><a href="{{ item.key.integer_id() }}">{{ item.title }}</a></strong>
        <br>
        <small>{{ item.description }}</small>
      </td>
      <td>{{ item.created_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<hr>
<form method="post">
  <fieldset>
    <legend>Ny artikkel</legend>
    <div class="form-group">
      <label for="title">Tittel:</label>
      <input type="text" name="title" class="form-control input-lg" required="true" />
    </div>
    <div class="form-group">
      <label for="description">Beskrivelse/ingress:</label>
      <textarea name="description" class="form-control" required="true"></textarea>
    </div>
    <div class="form-group">
      <label for="body">Innhold:</label>
      <textarea name="body" class="form-control" required="true"></textarea>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="author">Forfatter:</label>
          <input type="text" name="author" class="form-control" required="true" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="unit">Enhet:</label>
          <select name="unit" class="form-control">
            {% for unit in units %}
              <option value="{{unit.urlsafe()}}">
                {% if unit.parent() %}
                  {% for item in unit.pairs()[1:] %}
                    {% if item != unit.pairs()[1:][0] %} / {% endif %}
                    {{ item[1].capitalize() }}
                  {% endfor %}
                {% else %}
                  -- Alle --
                {% endif %}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-md-4 text-right">
        <div class="form-group">
          <button class="btn btn-success">Opprett</button>
        </div>
      </div>
    </div>
  </fieldset>
</form>
{% endif %}
{% endblock %}
