{% extends "layout.html" %} {% block body %}
<h1>404 - Denne siden har gått seg vill</h1>
<p class="lead">Siden du leter etter kan ikke finne veien hjem.</p>
<p>Dette kan skyldes flere ting.</p>
<ul>
  <li>Siden kan ha blitt flyttet eller slettet av oss.</li>
  <li>Adressen til siden kan være skrevet feil.</li>
</ul>
<p>
  Vi håper du finner siden du leter etter til slutt.
  <a href="/kontakt/">Kontakt oss</a> hvis du trenger hjelp til å lete.
</p>
<p>
  Du kan også <a href="/">gå til forsiden</a> for å se om du finner noen spor å
  følge der.
</p>
{% endblock %}
