{% extends "layout.html" %} {% block body %}
<h1>Kontakt oss</h1>
<p class="lead">
  Lurer du på noe? Har du lyst til å prøve speiding? Ta kontakt med en av
  lederne våre:
</p>

<ul>
  <li>
    <strong> Mats Grimsgaard </strong><br />
    Gruppeleder, 926 11 925, mats@nadderud.no.
  </li>
</ul>

<ul>
  <li>
    <strong> Merete Haukedal </strong><br />
    Troppsleder (5.-10. klasse), 411 44 182, mbhaukedal@gmail.com.
  </li>
</ul>
<ul>
  <li>
    <strong> Nina Eriksen Vinje </strong><br />
    Flokkleder (3.-4. klasse), 917 05 341, nina.eriksen.vinje@gmail.com.
  </li>
</ul>
<ul>
  <li>
    <strong> Stian Wirgenes </strong><br />
    Utstyrsansvarlig, 911 28 204, stian@haslumseter.no.
  </li>
</ul>
<ul>
  <li>
    <strong> Fredrik Martinsen </strong><br />
    Hyttefut, Mason Hill, 911 06 590, plankemann@hotmail.com.
  </li>
</ul>
{% endblock %}
